## Update Case Request Mapping Template
## VTL template for updateCase mutation

#set($input = $util.toJson($context.arguments.input))
#set($identity = $util.toJson($context.identity))

{
  "version": "2017-02-28",
  "operation": "Invoke",
  "payload": {
    "arguments": {
      "input": $input
    },
    "identity": $identity,
    "source": $util.toJson($context.source)
  }
}
